.container {
  /* display: flex; */
  max-width: 56rem;
  /* flex-direction: column; */
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.btnJoin {
  padding: 0;
}

@media (max-width: 450px) {
  .btnJoin {
    border: none;
  }

  /* .container {
    width: 100%;
  }

  .flexRow {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
  } */
}
