/* .main {
    display: flex;
    background-color: brown;
    justify-content: center;
    justify-self: center;
    align-self: center;
    max-width: 35rem;
}

.item {
    margin: 0.5rem 0.5rem;
}

.section {
    padding: 0.5rem 0.5rem;
}

.input {
    margin-left: 0.5rem;
} */